.header {
  background-image: url("https://edube.org/uploads/media/default/0001/03/sunflowers_sunset_full.jpg");
  height: 500px;
  text-align: center;
  color: white;
}

h1 {
  color: rgb(0, 128, 0); /* Dark Green using RGB */
}

p {
  color: #FF5733; /* Bright Orange using HEX */
}

.vivid {
  color: hsl(210, 100%, 50%); /* Vivid Blue using HSL */
}

a {
  color: pink; /* Pink color using named color */
}

.button {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.box {
  width: 400px;
  height: 300px;
  border: 1px solid #000000;
  overflow: scroll; /* Adds a scrollbar to the box if its content overflows. */
  background-image: url("https://edube.org/uploads/media/default/0001/03/eodg_grey_fav.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style-image: url('https://edube.org/uploads/media/default/0001/04/oedg_icon_regular.png');

}

a:link {
  text-decoration: none; /* Remove underline */
  color: pink;

}

a:hover {
  background-color: black;
  color: white;
}

a:active {
  font-weight: bold; /* Add bold font on click */
  color: black; /* Change color on click to black */
}

img {
  border-radius: 50%;
}