body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: #f7f9fa;
    color: slategray;
    line-height: 1.6;
}


body::before {
    content: "";
    position: fixed;
    inset: 0;

    background: url("https://www.pixelstalk.net/wp-content/uploads/2016/10/Download-Antarctica-2560x1600.jpg") center/cover no-repeat;
    opacity: 0.2;

    z-index: -1;
}



/* texts */
h1 {
    color: rgb(10, 76, 98);
    margin: 0;
}

h2 {
    color: rgb(10, 76, 98);
    margin-top: 0;
}

h3 {
    color: rgb(10, 76, 98);
}

p {
   color: rgb(87, 124, 137);
}

p::first-line {
    font-weight: bold;
}

/* Header */
#header {
    background-color: white;
    padding: 25px;
    text-align: center;
    border-bottom: 3px solid rgb(47, 155, 182);
}

/* layout */
section {
    margin: 40px auto;
    padding: 0 20px;
    max-width: 1100px;
}

/* fun fact two column layout */
.two-column {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.two-column .text {
    flex: 1;
}

.two-column .image {
    flex: 1;
}

.two-column img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}


/* footer*/
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: rgb(3, 150, 213);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/*Responsive*/
@media (max-width: 768px) {
    .two-column {
        flex-direction: column;
    }
}

/* ===== Misc Selectors (Cleaned) ===== */
header + main {
    border-top: 1px solid #ddd;
}

a[href^="mailto:"] {
    font-weight: bold;
}


.intro {
    max-width: 900px;
}


figure {
    margin: 0;
}

figcaption {
    font-size: 14px;
    margin-top: 8px;
    color: #4f4f4f;
    text-align: center;
}

/*fact_card*/
.fact-card {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    border-color: rgb(28, 125, 160);
}

.fact-card h3 {
    margin-top: 0;
}

.p-outside{
   color: rgb(87, 124, 137);
   background-color: white;
   padding: 10px;
   border-radius: 10px;
   box-shadow: 0 2px 8px rgba(0,0,0,0.08);

}