/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Segoe UI';
    background: linear-gradient(to bottom, #A3D5FF, #ffffff);
    color: #333;
    line-height: 1.6;
}

/* HERO SECTION */
.hero {
    height: 90vh;
    background-color: #6191b4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* BUTTON */
.btn {
    background: #00bcd4;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    background: #0097a7;
}

/* MAIN CONTAINER */
.container {
    width: 85%;
    max-width: 1000px;
    margin: 50px auto;
}

/* CARD STYLE */
.card {
    background: white;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    margin-bottom: 15px;
    color: #2c3d3f;
}

/* PROJECT GRID */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.project-item {
    background: #e3f2fd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
}

.project-item:hover {
    background: #bbdefb;
    transform: scale(1.05);
}

/* LINKS */
a {
    color: #00bcd4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
    margin-top: 50px;
}

.certificates {
    padding: 60px 20px;
    text-align: center;
}

.certificates h2 {
    margin-bottom: 40px;
}

/* GRID LAYOUT */
.certificate-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1000px;
    margin: auto;
}

/* CARD STYLE */
.certificate-card {
    background: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
}

.certificate-card:hover {
    transform: translateY(-8px);
}

.certificate-card img {
    width: 100%;
    border-radius: 10px;
}

.certificate-card p {
    margin-top: 10px;
    font-weight: 600;
}
